header.fixed-top+main section.category-section>div>div {
    padding-top: 180px !important;
}

header.fixed-top+main:has(section.category-section > div > div) {
    padding-top: 0 !important;
}

.category-card-wrapper {
    display: block;
    height: 100%;
    padding: 10px;
    color: unset;
    transition: all .3s ease-in-out;
    box-shadow: 1px 1px 5px 0px rgba(235, 235, 235, 0.75);
    -webkit-box-shadow: 1px 1px 5px 0px rgba(235, 235, 235, 0.75);
    -moz-box-shadow: 1px 1px 5px 0px rgba(235, 235, 235, 0.75);
    text-decoration: none;
    overflow: hidden;
}

.category-card-wrapper:hover {
    color: var(--yellow);
}

.category-card-wrapper .category-icon-wrapper {
    transition: all .3s ease-in-out;
}

.category-card-wrapper .product-detail-wrapper {
    margin-top: 1.5rem;
}

.product-detail-wrapper .price {
    font-weight: 700;
}

.product-detail-wrapper .price .discounted-deal {
    text-decoration: line-through;
    margin-left: 50px;
    font-size: 16px;
    font-weight: 500;
}

.category-card-wrapper:hover {
    box-shadow: 2px 1px 5px 5px rgba(235, 235, 235, 0.75);
}

.category-card-wrapper .product-detail-wrapper .product-title,
.category-card-wrapper .product-detail-wrapper .price,
.category-card-wrapper .product-detail-wrapper .product-code {
    color: var(--green);
}


@media(min-width: 768px) {
    .category-card-wrapper:hover .category-icon-wrapper {
        transform: scale(1.08);
    }
}

@media (max-width: 991px) {
    header.fixed-top+main section.category-section>div>div {
        padding-top: 123px;
    }
}

/* Single Product Cube-gallery css starts*/
:root {
    --border-color: var(--yellow);
}

.cube-container {
    position: relative;
    width: 18.75rem;
    height: 18.75rem;
    max-width: 100%;
    max-height: 100%;
    margin: 3.125rem auto 3.75rem;
    perspective: 62.5rem;
}

.cube {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s cubic-bezier(0.32, 0.05, 0.35, 1.6);
}

.cube-face-image {
    display: block;
    position: absolute;
    box-shadow: 0 0 0.3rem #fff, 0 0 0.9rem var(--border-color),
        0 0 0.875rem var(--border-color);
}

.image-buttons {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 5px;
    justify-content: center;
}

.image-buttons input {
    max-width: 55px;
    border: 0.2rem solid #fafafa;
}

.image-buttons input:focus {
    outline: none;
    border: 1.25rem solid var(--border-color);
}

/* Transform images to create cube */

.image-1 {
    transform: translateZ(9.375rem);
}

.image-2 {
    transform: rotateX(-180deg) translateZ(9.375rem);
}

.image-3 {
    transform: rotateY(90deg) translateZ(9.375rem);
}

.image-4 {
    transform: rotateY(-90deg) translateZ(9.375rem);
}

.image-5 {
    transform: rotateX(90deg) translateZ(9.375rem);
}

.image-6 {
    transform: rotateX(-90deg) translateZ(9.375rem);
}

/* Transform cube to show correct image */

.cube.initial-position {
    transform: translateZ(-9.375rem) translateY(-1.25rem) rotateX(-15deg) rotateY(18deg) rotateZ(2deg);
}

.cube.show-image-1 {
    transform: translateZ(-9.375rem);
}

.cube.show-image-2 {
    transform: translateZ(-9.375rem) rotateX(180deg);
}

.cube.show-image-3 {
    transform: translateZ(-9.375rem) rotateY(-90deg);
}

.cube.show-image-4 {
    transform: translateZ(-9.375rem) rotateY(90deg);
}

.cube.show-image-5 {
    transform: translateZ(-9.375rem) rotateX(-90deg);
}

.cube.show-image-6 {
    transform: translateZ(-9.375rem) rotateX(90deg);
}

/* Single Product Cube-gallery css ends*/

.product-detail-wrapper .label {
    border-radius: 20px;
    display: inline-block;
    color: #fff;
    padding: 5px 10px;
}

.product-detail-wrapper .label.sold {
    background-color: #dc3545;
}

.product-detail-wrapper .label.demand {
    background-color: #198754;
}

/* Single Product Contact Modal css STARTS here */
.contact-modal::before {
    content: '';
    position: fixed;
    background: rgba(0, 0, 0, 0.75);
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.contact-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    padding: 15px;
    overflow: auto;
    position: fixed;
    z-index: 1031;
    top: 0;
}

.contact-modal.show {
    visibility: visible;
}

.contact-modal .contact-form-wrapper {
    width: 100%;
    border: 1px solid #888;
    max-width: 650px;
    background: #fff;
    border-radius: 15px;
    padding: 15px;
    position: relative;
    z-index: 2;
    max-height: 600px;
}

.contact-modal .contact-form textarea {
    max-height: 100px;
    overflow: auto;
}

.close {
    color: #aaaaaa;
    display: block;
    margin-left: auto;
    font-size: 28px;
    font-weight: bold;
    max-width: 20px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Single Product Contact Modal css ENDS here */

@media(max-width: 768px) {
    .image-buttons {
        grid-template-columns: repeat(4, auto);
    }
}